PORT=3000
APP_URL=https://indovinachi.asigo.cc
VITE_APP_URL=https://indovinachi.asigo.cc
POCKETBASE_URL=https://pb.indovinachi.asigo.cc
VITE_POCKETBASE_URL=https://pb.indovinachi.asigo.cc
POCKETBASE_ADMIN_EMAIL=
POCKETBASE_ADMIN_PASSWORD=
APP_ACCESS_SLUG=indovinachi
ADMIN_EMAIL=asi.vong@gmail.com
CENTRAL_AUTH_PB_URL=https://pb.theparty.asigo.cc
CENTRAL_AUTH_PB_ADMIN_EMAIL=
CENTRAL_AUTH_PB_ADMIN_PASSWORD=
FIREBASE_SERVICE_ACCOUNT_PATH=/home/asi/Hämtningar/studio-7990555522-7e3ef-68d71fc7ce85.json
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
